@font-face {
  font-family: "Mont-HeavyDEMO";
  src: url(/fonts/Mont-HeavyDEMO.eot?5c558f27f1804e2dbcfe2bffbde633ac) format("embedded-opentype"), url(/fonts/Mont-HeavyDEMO.otf?7d90a574d6ef3b7949d79a56b4d201db) format("opentype"), url(/fonts/Mont-HeavyDEMO.woff?08673d003b8a0417d3eed0eb8da31d70) format("woff"), url(/fonts/Mont-HeavyDEMO.ttf?aeb034107caa7f3d1c48da16700c5f7c) format("truetype"), url(/fonts/Mont-HeavyDEMO.svg?b7469d0fde0b07e20869ae638894bec6) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBT-Medium";
  src: url(/fonts/FuturaBT-Medium.eot?90fbd44a7271ff2a16bdfa0b0ba12c0c) format("embedded-opentype"), url(/fonts/FuturaBT-Medium.woff?bbe3161c3e5aefe865844841f0c07230) format("woff"), url(/fonts/FuturaBT-Medium.ttf?0611cad6283ef4b7e90fb44158b38d4b) format("truetype"), url(/fonts/FuturaBT-Medium.svg?02ed1b2ee5a25b1490eaa7826ea4104b) format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  outline: none !important;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.text-right {
  text-align: right;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.image-full {
  max-width: 100%;
}

.btn {
  background-color: #6b6b79;
  border-radius: 5px;
  line-height: 100%;
  font-size: 16px;
  text-align: center;
  padding: 10px 12px;
  display: inline-block;
  height: 36px;
  min-width: 70px;
  color: white;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: Nunito, sans-serif;
}

.btn:hover {
  background-color: #3b4b59;
}

.btn-primary,
.btn.primary {
  background-color: #2b6cb9;
}

.btn-primary:hover,
.btn.primary:hover {
  background-color: #004c99;
}

.btn-success,
.btn.success {
  background-color: #5bbc39;
}

.btn-success:hover,
.btn.success:hover {
  background-color: #209c19;
}

.btn-warning,
.btn.warning {
  background-color: #ebbc39;
}

.btn-warning:hover,
.btn.warning:hover {
  background-color: #c07c19;
}

.btn-danger,
.btn.danger {
  background-color: #fb2c39;
}

.btn-danger:hover,
.btn.danger:hover {
  background-color: #e00c19;
}

.message {
  padding: 15px;
  background-color: #ccd;
  border-radius: 5px;
  border: solid 1px #778;
  color: #334;
  width: 100%;
  margin-bottom: 15px;
}

.message-primary,
.message.primary {
  color: #249;
  border-color: #259;
  background-color: #acf;
}

.message-success,
.message.success {
  color: #261;
  border-color: #592;
  background-color: #cf8;
}

.message-warning,
.message.warning {
  color: #961;
  border-color: #a81;
  background-color: #fe8;
}

.message-danger,
.message.danger {
  color: #801;
  border-color: #b23;
  background-color: #f9a;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.w-10,
.w-20,
.w-30,
.w-40,
.w-50,
.w-60,
.w-70,
.w-80,
.w-90,
.w-100 {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
  width: 100%;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.text-shadow {
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.61);
}

.header-logo {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0054a6+0,013567+100 */
  background: #0054a6;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#0054a6), to(#013567));
  background: linear-gradient(to bottom, #0054a6 0%, #013567 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0054a6", endColorstr="#013567",GradientType=0 );
  /* IE6-9 */
  color: white;
  text-transform: uppercase;
  font-size: 120.59px;
  font-family: "Mont-HeavyDEMO";
  text-align: center;
}

.navbar-top {
  width: 100%;
  height: 47px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c4c4c4+0,a5a5a5+100 */
  background: #c4c4c4;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(#a5a5a5));
  background: linear-gradient(to bottom, #c4c4c4 0%, #a5a5a5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#c4c4c4", endColorstr="#a5a5a5",GradientType=0 );
  /* IE6-9 */
  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  font-size: 30px;
  margin: 0;
  padding: 3px 30px 0;
  font-family: "FuturaBT-Medium";
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.navbar-top a {
  text-decoration: none;
  color: #383838;
}

.form-search {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  margin-top: 3px;
}

.form-search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-search button img {
  width: 28px;
}

.form-search .search-field-wrapper {
  width: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

.form-search .search-field-wrapper input {
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 1;
  padding: 4px 12px;
  border-radius: 10px;
  border: solid 2px #cccccc;
  background-color: #333333;
  color: white;
  margin-right: 8px;
  position: relative;
  top: -5px;
  font-family: "FuturaBT-Medium";
}

.form-search .btn-close {
  display: none;
}

.form-search.active .btn-close {
  display: block;
}

.form-search.active .search-field-wrapper {
  width: 200px;
}

.admin-header {
  display: -webkit-box;
  display: flex;
  padding: 10px 15px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background: #0054a6;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#0054a6), to(#013567));
  background: linear-gradient(to bottom, #0054a6 0%, #013567 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0054a6", endColorstr="#013567",GradientType=0 );
  /* IE6-9 */
  color: white;
}

.admin-header a {
  color: white;
}

.admin .link-logout {
  display: inline-block;
  margin-top: 5px;
}

.admin-logo {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Mont-HeavyDEMO";
}

.admin-main {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.admin-sidebar {
  width: 16%;
  background-color: #112547;
  box-shadow: inset 7px 10px 21px -6px rgba(0, 0, 0, 0.75);
  height: 100%;
  min-height: calc(100vh - 55px);
  padding: 5px 15px;
}

.admin-sidebar a {
  color: white;
  text-decoration: none;
  line-height: 1.75;
}

.admin-sidebar ul {
  padding-left: 0;
  list-style: none;
}

.admin-content-wrapper {
  width: 84%;
  padding: 10px 15px;
}

.admin .top-section {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}

.admin .top-section h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.admin .top-section .btn {
  margin-top: 5px;
}

.admin .top-section-artist {
  position: relative;
  background-size: cover;
  background-position: 50% 30%;
  padding: 150px 15px 15px;
  margin: -10px -15px 0;
}

.admin .top-section-artist::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,ffffff+100&0+0,1+97 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(125, 185, 232, 0)), color-stop(97%, #fbfdfe), to(white));
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, #fbfdfe 97%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#007db9e8", endColorstr="#ffffff",GradientType=0 );
  /* IE6-9 */
  z-index: 0;
}

.admin .top-section-artist h1,
.admin .top-section-artist a {
  position: relative;
  z-index: 1;
}

.admin .content-table {
  width: 100%;
  border-spacing: 0;
}

.admin .content-table thead {
  background-color: #ccc;
  text-align: left;
  color: #444;
}

.admin .content-table tbody tr:nth-child(even) {
  background-color: #d8d8d8;
}

.admin .content-table th,
.admin .content-table td {
  padding: 5px 12px;
  border: none;
}

.form-standard * {
  font-family: Nunito, sans-serif;
}

.form-standard .form-bottom {
  margin-top: 50px;
}

.form-standard .form-group {
  padding-bottom: 15px;
}

.form-standard .form-group .field-wrapper {
  padding: 0 7.5px;
}

.form-standard .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-standard .form-group input,
.form-standard .form-group textarea,
.form-standard .form-group select {
  width: 100%;
  padding: 8px 9px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #bbb;
}

.artist-image {
  width: 100px;
  height: 50px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.clearfix {
  clear: both;
}

.page__artist-single {
  position: relative;
}

.page__artist-single .message {
  position: absolute;
  top: 10px;
  left: 15px;
  width: calc(100% - 20px);
  z-index: 2;
}

